# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes
etcd
nfs

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# If ansible_ssh_user is not root, ansible_become must be set to true
ansible_become=true

# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user={{ ansible_user }}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

# OpenShift vars
openshift_release=v{{ version }}
openshift_clock_enabled=true
openshift_deployment_type=openshift-enterprise
openshift_master_default_subdomain=apps.{{ domain }}
openshift_docker_insecure_registries=172.30.0.0/16
osm_use_cockpit=true
osm_cockpit_plugins=['cockpit-kubernetes']
osm_default_node_selector="region={{ hostvars[groups['nodes'][0]]['region'] }}"
openshift_enable_service_catalog=true
template_service_broker_install=true
openshift_template_service_broker_namespaces=['openshift']

# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# we are going to iterate over the volumes of the first master since that is what we are using in the [nfs] group below
{% for vol in hostvars[groups['masters'][0]]['nfs-volumes'] %}
openshift_{{ vol.name }}_storage_kind=nfs
openshift_{{ vol.name }}_storage_access_modes=['ReadWriteOnce']
openshift_{{ vol.name }}_storage_nfs_options='*(rw,root_squash)'
openshift_{{ vol.name }}_storage_nfs_directory={{ vol.mountpoint }}
openshift_{{ vol.name }}_storage_volume_name={{ vol.dir }}
openshift_{{ vol.name }}_storage_volume_size={{ vol.size }}Gi
openshift_{{ vol.name }}_storage_labels={'storage': '{{ vol.label }}'}
{% if vol.type is defined %}
openshift_{{ vol.name }}_storage_type='{{ vol.type }}'
{% endif %}

{% endfor %}

# host group for masters
[masters]
{% for master in groups['masters'] %}
{{ master }}.{{ domain }}
{% endfor %}

# host group for nodes, includes region info
[nodes]
{% for node in groups['all'] %}
{{ node }}.{{ domain }} openshift_node_labels="{'region': '{{ hostvars[node]['region'] }}', 'zone': '{{ hostvars[node]['zone'] }}'}"  
{% endfor %}

[nfs]
{% for master in groups['masters'] %}
{{ master }}.{{ domain }}
{% endfor %}

[etcd]
{% for master in groups['masters'] %}
{{ master }}.{{ domain }}
{% endfor %}
