# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes
etcd
nfs

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user={{ ansible_user }}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

# If ansible_ssh_user is not root, ansible_become must be set to true
ansible_become=true
openshift_clock_enabled=true
openshift_deployment_type=openshift-enterprise
openshift_master_default_subdomain=apps.{{ idm_zone }}

# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# metrics vars
openshift_metrics_deploy=true
openshift_metrics_storage_kind=nfs
openshift_metrics_storage_access_modes=['ReadWriteOnce']
openshift_metrics_storage_nfs_options='*(rw,root_squash)'
openshift_metrics_storage_nfs_directory={{ hostvars[groups['masters'][0]]['volumes'][1]['mountpoint'] }}
openshift_metrics_storage_volume_name=
openshift_metrics_storage_volume_size={{ hostvars[groups['masters'][0]]['volumes'][1]['size'] }}Gi

# logging vars
openshift_logging_storage_kind=nfs
openshift_logging_storage_access_modes=['ReadWriteOnce']
openshift_logging_storage_nfs_directory={{ hostvars[groups['masters'][0]]['volumes'][2]['mountpoint'] }}
openshift_logging_storage_nfs_options='*(rw,root_squash)'
openshift_logging_storage_volume_name=
openshift_logging_storage_volume_size={{ hostvars[groups['masters'][0]]['volumes'][2]['size'] }}Gi

# project for the template service broker
openshift_template_service_broker_namespaces=['openshift','template-service-broker']

# etcd space for ansible broker
openshift_hosted_etcd_storage_kind=nfs
openshift_hosted_etcd_storage_nfs_options="*(rw,root_squash,sync,no_wdelay)"
openshift_hosted_etcd_storage_nfs_directory={{ hostvars[groups['masters'][0]]['volumes'][3]['mountpoint'] }}
openshift_hosted_etcd_storage_volume_name=
openshift_hosted_etcd_storage_access_modes=["ReadWriteOnce"]
openshift_hosted_etcd_storage_volume_size={{ hostvars[groups['masters'][0]]['volumes'][3]['size'] }}Gi
openshift_hosted_etcd_storage_labels={'storage': 'etcd'}

# host group for masters
[masters]
{% for master in groups['masters'] %}
{{ master }}.{{ idm_zone }}
{% endfor %}

# host group for nodes, includes region info
[nodes]
{% for node in groups['all'] %}
{{ node }}.{{ idm_zone }} openshift_node_labels="{'region': '{{ hostvars[node]['region'] }}', 'zone': '{{ hostvars[node]['zone'] }}'}"  
{% endfor %}

[nfs]
{% for master in groups['masters'] %}
{{ master }}.{{ idm_zone }}
{% endfor %}

[etcd]
{% for master in groups['masters'] %}
{{ master }}.{{ idm_zone }}
{% endfor %}
